@import url('/src/styles.css');

#nav-background {
    background-color: var(--swe-color-blue);
    border-bottom: 1px solid var(--swe-color-yellow);

}

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}