<div id="nav-background">
    <nav id="main-nav">
        <li role="presentation">
            <a routerLink="">
                <h1 id="nav-header" matTooltip="HEjsan">
                    Gym
                </h1>
            </a>
        </li>

        <li class="nav-link"><a routerLink="/Articles">Workouts</a></li>

        <li class="nav-link" routerLinkActive="active">
            <a routerLink="/Admin">
                Se alla pass
            </a>
        </li>

        <li class="nav-link" routerLinkActive="active">
            <a routerLink="/Skapa">
                Skapa pass
            </a>
        </li>

        <li class="nav-link" routerLinkActive="active">
            <a routerLink="/Om">
                Test 1
            </a>
        </li>

        <button class="btn btn-primary">Login</button>
    </nav>
</div>